:root {
  --yellow-70s: #e3ca0b;
  --rust-70s: #bf5934;
  --red-70s: #c87445;
  --mint-70s: #bec680;
  --brown-70s: #674831;

}

.map {
  height: 70vh;
  width: 70vw;
}

.map-svg {
  height: 70vh;
  width: 70vw;
}
